<div class="container-fluid d-flex justify-content-center">
    <div class="card" style="width: 70%;">
        <img src="/images/kermit.jpg" class="card-img-top" alt="...">
         <div class="card-body">
            <h5 class="card-title">{{listing.title}}</h5>
            <h6>${{listing.price}}</h6>
            <p class="card-text">{{listing.description}}</p>
            <div class="text-center">
            <a href="#" class="btn btn-primary">Purchase</a>
            </div>
        </div>
    </div>
</div>